:root {
  --soft-pink: #FFE2E2;
  --deep-pink: #FFC7C7;
  --light-yellow: #fcfc91;
  --light-green: #cbe784;
  --dark-green: #73ad83;
  --light-gray: #AAAAAA;
  --cloud-white: #F6F6F6;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
