.box {
    flex: 33%;
    height: 100%;
    width: 100%;
    border: 0px solid grey;
    border-radius: 20%;
    margin: 5px;
    display: grid;
    place-items: center;
    font-size: 30px;
    font-weight: bolder;
    color: var(--soft-black);
    background-color: var(--cloud-white);
  }

#incorrect {
  background-color: var(--light-gray);
}

#almost{
  background-color: var(--light-yellow);
}

#correct{
  background-color: var(--dark-green);
}