.gameGridContainer {
    width: 350px;
    height: 450px;
    border-radius: 2%;
    border: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 4%;
    background-color: var(--deep-pink);
  }
  
.row {
    flex: 33%;
    display: flex;
    flex-direction: row;
    margin: 5px;
  }