.gameGridContainer {
    width: 500px;
    height: 450px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
  }

.box {
  flex: 33%;
  height: 100%;
  border: 1px solid grey;
  margin: 5px;
  display: grid;
  place-items: center;
  font-size: 30px;
  font-weight: bolder;
  
}

.row {
    flex: 33%;
    display: flex;
    flex-direction: row;
    margin: 5px;
  }